body {

  font-family: 'Source Sans Pro', sans-serif;
  color: #555;
}

header {

  padding: 25px;
}

h2, h3, h4, h5, h6 {

  font-family: 'Roboto', sans-serif;
  color: #222;
}

h1 {

  font-family: 'Arizonia', cursive;
  color: #000000;
}
