body {

  font-family: 'Source Sans Pro', sans-serif;
  color: #555;

  background-image: url("../img/grid.png");
  background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'Roboto', sans-serif;
  color: #222;
}

/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */

header {

  padding-top: 25px;
  padding-bottom: 50px;
}

#header h1 {

  font-family: 'Major Mono Display', monospace;
  color: #000000;
  font-size: 2.1rem;
}

#header h2 {

  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 1.0rem;
}

/* -------------------------------------------------------------------------- */
/* MAIN */
/* -------------------------------------------------------------------------- */

main {

}

/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */

footer {

  /* Take up the entire width of the viewport (thus breaking out of Bootstrap's constraints) */
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);

  min-height: 50px;
  margin-top: 25px;
  padding: 15px;
  background-color: #d32d2f;

  color: #fff;
}

footer a, footer a:hover, footer a:visited {

  color: #fff;
}
