body {

  font-family: 'Source Sans Pro', sans-serif;
  color: #555;
  font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'Roboto', sans-serif;
  color: #555;
}


/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */

header {

  /* Take up the entire width of the viewport (thus breaking out of Bootstrap's constraints) */
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);

  min-height: 30vh;

  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}


/* -------------------------------------------------------------------------- */
/* MAIN */
/* -------------------------------------------------------------------------- */

main h1 {

  font-size: 3.0rem;
  font-weight: 300;
}

main h2 {

  font-size: 1.2rem;
}

main a, main a:hover, main a:visited {

  color: #c71428;
  text-decoration: underline;
}

main li {

  margin-top: 6px;
  margin-bottom: 6px;
}


/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */

footer {

  /* Take up the entire width of the viewport (thus breaking out of Bootstrap's constraints) */
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);

  min-height: 50px;
  margin-top: 25px;
  padding: 10px;
  background-color: #c71428;

  color: #fff;
}

footer a, footer a:hover, footer a:visited {

  color: #fff;
  text-decoration: underline;
}
